<!DOCTYPE html>
<html>
 <head>
  <title>
   Microservice demo app
  </title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
 </head>
 <body>
  <main class="container">
   <h1>
    API Results
   </h1>
   <h2>
    {{ message }}
   </h2>
   {% for table in tables %}
   <table>
    <thead>
     <tr>
      <th>
       Record ID
      </th>
      <th>
       Name
      </th>
      <th>
       Field one
      </th>
      <th>
       Field two
      </th>
      <th>
       Field three
      </th>
     </tr>
    </thead>
    <tbody>
     {% for row in table %}
     <tr>
      <td>
       {{ row.id }}
      </td>
      <td>
       {{ row.name }}
      </td>
      <td>
       {{ row.field1}}
      </td>
      <td>
       {{ row.field2 }}
      </td>
      <td>
       {{ row.field3 }}
      </td>
     </tr>
     {% endfor %}
    </tbody>
   </table>
   {% endfor %}
  </main>
 </body>
</html>
